html {
    background-color: black;
}
h1 {
    color: aliceblue;
    text-align: center;
}
h2 {
    color: aliceblue;
    text-align: center;
}
#yoni {
    text-align: center;
    height: 200px;
    width: 200px;
}
h3 {
    color: aliceblue;
    text-align: center;
}
a {
    text-align: center;
}

#a {
    height: 200px;
    width: 200px;
}

#b {
    height: 200px;
    width: 200px;
}

#c {
    height: 200px;
    width: 200px;
}

#d {
    height: 200px;
    width: 200px;
}

#e {
    height: 200px;
    width: 200px;
}

